::root {
    --small: 25px;
    --medium: 40px;
    --big: 75px;
    --xl: 100px;
}

::custom-classes{
        --mine-currency: '.UiAsideUserPanel .BalancePanel__value';
        --payout: 'span#CollectableAmountValue';
        --aviator-payout-left: '.controls[_ngcontent-hno-c88] .first-row[_ngcontent-hno-c88] .buttons-block[_ngcontent-hno-c88] button[_ngcontent-hno-c88] label.amount[_ngcontent-hno-c88]';
        --aviator-payout-right: '.controls[_ngcontent-hno-c88] .second-row[_ngcontent-hno-c88] .buttons-block[_ngcontent-hno-c88] button[_ngcontent-hno-c88] label.amount[_ngcontent-hno-c88]';
      }


/* 711 */

/* Aviator game */
var(--aviator-payout-left) {
    font-size: var(--big);
    color: #fff;
    background: #000;
    border-radius: 5px;
    padding: 5px;
}

var(--aviator-payout-right) {
    font-size: var(--big);
    color: #fff;
    background: #000;
    border-radius: 5px;
    padding: 5px;
}



/* mines game */
var(--mine-currency) {
    font-size: var(--big);
    color: #fff;
    background: #000;
    border-radius: 5px;
    padding: 5px;
}


