$mine-currency: '.UiAsideUserPanel .BalancePanel__value';
$payout: 'span#CollectableAmountValue';
$aviator-payout-left: '.controls[_ngcontent-hno-c88] .first-row[_ngcontent-hno-c88] .buttons-block[_ngcontent-hno-c88] button[_ngcontent-hno-c88] label.amount[_ngcontent-hno-c88]';
$aviator-payout-right: '.controls[_ngcontent-hno-c88] .second-row[_ngcontent-hno-c88] .buttons-block[_ngcontent-hno-c88] button[_ngcontent-hno-c88] label.amount[_ngcontent-hno-c88]';
